*.user
*.suo
*.trx
*.db
TestResult.xml
nunit-agent_*.log
artifacts
bin
obj
log
_ReSharper.*
logs
Logs
Debug
Release
reports*.xml
*.dotCover
*.alecrim
.DS_Store
packages
*.oca
/.vs/Thunder/v15/Server/sqlite3
/.vs/thunder/v16/Server/sqlite3
/.vs

# DocFX (artefatos gerados)
docfx/api/
docfx/_site/
