html, body {
    height: 100%;
}

body {
    background: url(images/background_body_login.png) repeat scroll 0 0 transparent;
}

#content 
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -144px;
    margin-left: -152px;
    background: #333;
    background: url(images/background_login.png) repeat scroll 0 0 transparent;    
    border-radius: 20px;
}

#content form 
{
    margin: 20px 30px 30px 30px;
}

#content form label
{
    color: #fff;
    font-size: 12pt;
}

#content form .button
{
    font-size: 12pt !important;
}

#content form .xsmall-input {
    width: 90% !important;
}

#content h1
{
    position: relative !important;
    top: 0px;
    font-size: 26px;
    padding: 20px 40px 0 20px;
}

.thunder-form-loading {
    background: url(images/loading_login.gif) no-repeat !important;
    height: 28px !important;
    width: 28px !important;
}