
/********************************      Basic Structure      ********************************/

html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    background: #f0f0f0 url(images/bg-body.gif) top left repeat-y;
    font-size: 12px;
}

#body-wrapper { background: url(images/bg-radial-gradient.gif) fixed 230px top no-repeat; }

/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
    font-weight: bold;
}

h1 {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: -1000px; /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
}

h2 {
    font-size: 26px;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 17px;
    padding: 0 0 10px 0;
}

h4 {
    font-size: 16px;
    padding: 0 0 5px 0;
}

h5 {
    font-size: 14px;
    padding: 0 0 5px 0;
}

h6 {
    font-size: 12px;
    padding: 0 0 5px 0;
}


a {
    text-decoration: none;
}

a:hover { color: #000; }

a:active { color: #777; }

a:focus { outline: 1px; }

strong {
    font-weight: bold;
    color: #333;
}

small { font-size: 0.85em; }

pre { font-family: monospace; }

p {
    padding: 5px 0 0px 0;
    line-height: 1.6em;
}

/********************************      General Classes      ********************************/

.clear { clear: both; }

.align-left { float: left; }

.align-right { float: right; }

/************ Button ************/

.button,
.thunder-pagination-previous a,
.thunder-pagination-next a {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    padding: 4px 7px 4px 7px !important;
    color: #fff !important;
    font-size: 11px !important;
    cursor: pointer;
}

.button:hover,
.thunder-pagination-previous a:hover,
.thunder-pagination-next a:hover { text-decoration: underline; }

.button:active { padding: 5px 7px 3px 7px !important; }

.back {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    padding: 1px 7px 1px 7px !important;
    color: #fff !important;
    font-size: 11px !important;
    cursor: pointer;
}

.back:hover { text-decoration: underline; }

.back:active { padding: 1px 7px 1px 7px !important; }

a.remove-link:hover { color: #000; }

/********************************      Sidebar      ********************************/

#sidebar {
    background: url(images/bg-sidebar.gif) top left no-repeat;
    width: 230px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #888;
    font-size: 11px;
}

#sidebar #sidebar-wrapper { margin: 0 0 0 9px; }

#sidebar a,
#sidebar a:active { color: #ccc; }

#sidebar a:hover { color: #fff; }

#sidebar #sidebar-title { margin: 40px 0 40px 15px; }

#sidebar #logo { margin: 40px 0 40px 0; }

#sidebar #profile-links {
    padding: 0 15px 20px 15px;
    text-align: right;
    line-height: 1.5em;
}

    /************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
    width: 206px;
    padding: 0;
    margin: 0 0 0 15px;
    font-family: Helvetica, Arial, sans-serif;
}

#sidebar #main-nav li {
    list-style: none;
    padding-bottom: 10px;
    text-align: right;
}

#sidebar #main-nav li a.nav-top-item {
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

#sidebar #main-nav li a.current {
    color: #333;
    font-weight: bold;
}

#sidebar #main-nav li a.current:hover { color: #333; }

#sidebar #main-nav ul {
    padding: 0;
    font-size: 12px;
    margin: 0;
}

#sidebar #main-nav ul li {
    list-style: none;
    margin: 0;
    text-align: right;
    padding: 0;
}

#sidebar #main-nav ul li a {
    padding: 8px 15px;
    display: block;
    color: #aaa;
    font-size: 13px;
    line-height: 1.2em;
}

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover { color: #fff; }
#sidebar #main-nav ul li a.current { background: transparent url(images/menu-current-arrow.gif) right center no-repeat !important; }

/************ Messages ************/

#messages p,
#messages form {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

#messages h4 { padding: 10px 0; }

#messages fieldset { margin: 0; }

#messages textarea { margin: 0 0 15px 0; }

.thunder-notification-content ul {
    list-style-type: none !important;
    padding: 0 !important;
}

.thunder-notification-content ul li {
    background: none !important;
    padding: 0px !important;
}

/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
    margin: 0 30px 0 260px;
    padding: 20px 0 0 0;
}

.column-left {
    width: 48%;
    float: left;
}

.column-right {
    width: 48%;
    float: right;
}

#page-intro {
    font-size: 17px;
    padding: 0 0 20px 0;
}


#footer {
    border-top: 1px solid #ccc;
    margin: 40px 0 0 0;
    padding: 20px 0;
    font-size: 12px;
}
/************ Lists ************/

#main-content ul,
#main-content ol { padding: 10px 0; }

    /* Unordered List */

#main-content ul li {
    background: url(images/icons/bullet_black.png) center left no-repeat;
    padding: 4px 0 4px 20px;
}

/* Ordered List */

#main-content ol { padding: 0 0 0 24px; }

#main-content ol li {
    list-style: decimal;
    padding: 4px 0;
}

/*************** Content Box ***************/

.content-box {
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    background: #fff;
}

.content-box-header {
    background: #e5e5e5 url(images/bg-content-box.gif) top left repeat-x;
    margin-top: 1px;
    height: 40px;
}

.content-box .content-box .content-box-header {
    height: 30px;
}

.content-box-header h3 {
    padding: 12px 15px 10px;
    float: left;
}

.content-box .content-box .content-box-header h3 {
    padding-top: 8px; padding-left: 8px;
    font-size: 14px;
    
}

.content-box-header .loading {
    float: right;
    padding-right: 5px;
    padding-top: 4px;
    display: none;
}

ul.content-box-tabs {
    float: right;
    padding: 12px 15px 0 0 !important;
    margin: 0 !important;
}

ul.content-box-tabs li.tab-button { padding: 0px 0px 10px 10px !important; }

ul.content-box-tabs li {
    float: left;
    margin: 0;
    padding: 0 !important;
    background-image: none !important;
}

ul.content-box-tabs li a {
    color: #333;
    padding: 8px 10px;
    display: block;
    margin: 1px;
    border-bottom: 0;
}

ul.content-box-tabs li a.current {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin: 0;
}

.content-box-content {
    padding: 10px;
    font-size: 13px;
    border-top: 1px solid #ccc;
}

/************ Table ************/

#main-content .table, .modal-content .table {
    width: 100%;
    border-collapse: collapse;
}

#main-content .table thead th, .modal-content .table thead th {
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

#main-content .table tbody, .modal-content .table tbody { border-bottom: 1px solid #ddd; }

#main-content .table tbody tr, .modal-content .table tbody tr { background: #fff; }

#main-content .table tbody tr.alt-row, .modal-content .table tbody tr.alt-row,
#main-content .table tbody tr.even, .modal-content .table tbody tr.even { background: #f3f3f3; }

#main-content .table td, .modal-content .table td,
#main-content .table th, .modal-content .table th {
    padding: 10px;
    line-height: 1.3em;
}

#main-content .table  tfoot td .bulk-actions, .modal-content .table tfoot td .bulk-actions { padding: 15px 0 5px 0; }

#main-content .table tfoot td .bulk-actions select, .modal-content .table tfoot td .bulk-actions select {
    padding: 4px;
    border: 1px solid #ccc;
}

/*************** Pagination ***************/

.thunder-pagination-previous,
.thunder-pagination-pages,
.thunder-pagination-next {
    float: left;
    margin: 0 2px;
}

#main-content .pagination, .thunder-pagination {
    text-align: right;
    float: right;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.pagination a,
.thunder-pagination-previous a,
.thunder-pagination-next a {
    margin: 0;
    padding: 3px 6px;
}

.pagination a.number,
.thunder-pagination-previous a.number,
.thunder-pagination-next a.number { border: 1px solid #ddd; }

.pagination a.current,
.thunder-pagination-previous a.current,
.thunder-pagination-next a.current {
    color: #fff !important;
}

.pagination a.current:hover,
.thunder-pagination-previous a.current:hover,
.thunder-pagination-next a.current:hover { text-decoration: underline; }

/************ Shortcut Buttons ************/

.shortcut-button {
    border: 1px solid #ccc;
    background: #f7f7f7 url(images/shortcut-button-bg.gif) top left no-repeat;
    display: block;
    width: 120px;
    margin: 0 0 20px 0;
}

.shortcut-button span {
    border: 1px solid #fff;
    display: block;
    padding: 15px 10px 15px 10px;
    text-align: center;
    color: #555;
    font-size: 13px;
    line-height: 1.3em;
}

.shortcut-button span img { margin-bottom: 10px; }

.shortcut-button:hover { background: #fff; }

ul.shortcut-buttons-set li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0 !important;
    background: 0;
}

/*************** Forms ***************/

form label {
    display: block;
    padding: 0 0 2px 2px;
    font-weight: bold;
}

form label.radio {
    display: inline;
    padding: 0 0 10px;
    font-weight: normal;
}

form fieldset legend {
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
}

form p small {
    font-size: 0.75em;
    color: #777;
}

form p.column {
    float: left;
    display: block;
    margin-right: 10px;
}

form input[type="text"], form input[type="password"],
form select,
form textarea,
form .wysiwyg {
    padding: 6px;
    font-size: 13px;
    background: #fff url(images/bg-form-field.gif) top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333;
}

form .readonly { background: #f6f6f6 !important; }

form .xsmall-input { width: 10% !important; }

form .xsmall-input-fixed { width: 120px !important; }

form .small-input { width: 25% !important; }

form .x-small-input-fixed { width: 120px !important; }

form .small-input-fixed { width: 240px !important; }

form .medium-input { width: 50% !important; }

form .medium-input-fixed { width: 360px !important; }

form .large-input { width: 90% !important; }

form .large-input-fixed { width: 480px !important; }

form .zip-code { width: 80px !important; }

form .phone { width: 116px !important; }

form .cpf { width: 110px !important; }

form .cnpj { width: 140px !important; }

form .rg { width: 110px !important; }

form .date, form .date-custom {
    width: 90px !important;
    text-align: center;
}

form textarea {
    width: 97.5% !important;
    font-family: Arial, Helvetica, sans-serif;
}

form select {
    padding: 5px;
    background: #fff;
}

form input[type="checkbox"],
form input[type="radio"] {
    padding: 0;
    background: none;
    border: 0;
}

form span.required { color: #f00; }

form .money, form .money-negative {
    text-align: right;
    width: 100px;
}

form .numeric {
    width: 80px;
    text-align: right;
}

form .checkbox label {
    display: inline !important;
    padding: 0 !important;
    font-weight: normal !important;
}

form img.ui-datepicker-trigger { margin-left: 5px; }

form .actions {
    margin-top: 5px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

/*************** Notifications ***************/

.notification {
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    border: 1px solid;
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    font-size: 13px;
    width: 99.8%;
}


.attention {
    background: #fffbcc url(images/icons/exclamation.png) 10px 11px no-repeat;
    border-color: #e6db55;
    color: #666452;
}

.information {
    background: #dbe3ff url(images/icons/information.png);
    border-color: #a2b4ee;
    color: #585b66;
}

.success {
    background: #d5ffce url(images/icons/tick_circle.png);
    border-color: #9adf8f;
    color: #556652;
}

.error {
    background: #ffcece url(images/icons/cross_circle.png);
    border-color: #df8f8f;
    color: #665252;
}

.notification div {
    display: block;
    font-style: normal;
    padding: 10px 10px 10px 36px;
    line-height: 1.5em;
}

.notification .close {
    color: #990000;
    font-size: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}

/* Notification for form inputs */

.input-notification {
    background-position: left 2px;
    background-repeat: no-repeat;
    padding: 2px 0 2px 22px;
    background-color: transparent;
    margin: 0 0 0 5px;
}

/* Notification for login page */

#login-wrapper #login-content .notification {
    border: 0;
    background-color: #141414;
    color: #fff !important;
}

/********************************      Login Page      ********************************/

body#login {
    color: #fff;
    background: #222 url(images/bg-login.gif);
}

#login-wrapper { background: url(images/bg-login-top.png) top left repeat-x; }

#login-wrapper #login-top {
    width: 100%;
    padding: 140px 0 50px 0;
    text-align: center;
}

#login-wrapper #login-content {
    text-align: left;
    width: 300px;
    margin: 0 auto;
}

#login-wrapper #login-content label {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    float: left;
    width: 70px;
    padding: 0;
}

#login-wrapper #login-content input {
    width: 200px;
    float: right;
    margin: 0 0 20px 0;
    border: 0;
    background: #fff;
}

#login-wrapper #login-content p { padding: 0; }

#login-wrapper #login-content p#remember-password { float: right; }

#login-wrapper #login-content p#remember-password input {
    float: none;
    width: auto;
    border: 0;
    background: none;
    margin: 0 10px 0 0;
}

#login-wrapper #login-content p .button {
    width: auto;
    margin-top: 20px;
}

/********************************      TreeView      ********************************/

.tree-view ul {
    padding: 0px !important;
    list-style: none !important;
}

.tree-view ul li {
    padding: 5px !important;
    background: none !important;
}

.tree-view ul li:hover { background: #F1f1f1 !important; }

.tree-view ul li label {
    font-weight: normal !important;
    padding: 0px !important;
}

.tree-view ul li ul { padding-left: 20px !important; }

.tree-view ul li ul li:hover { background: #fff !important; }

/************ Grid ************/

.grid .notification { margin: 0 !important; }

.grid table .align-left { text-align: left; }

.grid table .align-right { text-align: right; }

.grid table .align-center { text-align: center; }

.grid table tfoot select {
    border: 1px solid #CCCCCC;
    padding: 4px;
}

.grid table tfoot .loading-grid { float: left; }

/************ Grid de categoria de cardápio ************/

.grid-carte-category-row {
    border-bottom: 1px solid #CCC;
    padding: 10px 0 10px 0;
}

.grid-carte-category-row-last {
    border: none;
    padding: 10px 0 10px 0;
}

.grid-carte-category-row-product, .grid-carte-category-no-product {
    display: none;
    margin-top: 5px;
    background: #f4f4f4;
    padding: 10px;
    max-height: 200px;
    line-height: 25px;
    overflow: auto;
}

.photos { }

.photos-item {
    float: left;
    padding: 5px;
    position: relative;
}

.photos-item-action {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 2px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.photos-item-image img { width: 300px; }

.content-box-content .thunder-notification { margin-bottom: 0px; }

.default-tab { margin-right: 10px !important; }

/************ Thunder Confirm ************/
.thunder-confirm {
    background: #fff !important;
}

.thunder-confirm-message {
    padding: 20px 10px 10px 10px;
    font-size: 17px;
    color: #E1A954;
    text-align: center;
}

.thunder-confirm-yes, .thunder-confirm-no {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    padding: 5px 7px 3px 7px !important;
    height: 15px;
    color: #fff !important;
    font-size: 12px !important;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100px;
}

.thunder-confirm-yes:hover, .thunder-confirm-no:hover {
    text-decoration: underline;
}

.thunder-confirm-action {
    padding: 5px;
}

/************ Thunder Alert ************/
.thunder-alert {
    background: #fff !important;
}

.thunder-alert-message {
    padding: 20px 10px 10px 10px;
    font-size: 17px;
    color: #E1A954;
    text-align: center;
}

.thunder-alert-ok {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    padding: 5px 7px 3px 7px !important;
    height: 15px;
    color: #fff !important;
    font-size: 12px !important;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100px;
}

.thunder-alert-ok:hover {
    text-decoration: underline;
}

.thunder-alert-action {
    padding: 5px;
    text-align: center;
}

.negative {
    color: #f00 !important;
}

.positive {
    color: #0F0 !important;
}

.thunder-pagination-loading {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.ui-widget-overlay {
    background: none repeat scroll 0 0 #FFFFFF !important;
}

.ui-dialog {
    padding: 0 !important;
}

.ui-dialog-content {
    padding: 0 !important;
}