<script type="text/javascript">
    $(function () {
        $.manager.users.index();
    });
</script>
@using (Html.ContentBox("Usuários", new ContentBoxHeaderButton { Title = "Novo Usuário", Text = "+", Url = Url.Action("New"), HtmlAttributes = new { id = "add-user" } }))
{
    <div class="grid" id="grid-users" data-url="@Url.Action("Index")">
        @Html.Gif("~/content/manager/images/grid_loading")
    </div>
}